.Book {
    text-align: left;
    border: 2px solid #808080;
    padding: 12px;
    margin: 4px;
}

.Book > img {
    max-height: 150px;
}

.Book-property {
    font-size: 14px;
    margin: 4px;
}

.Book-link {
    position: absolute;
    bottom: 0;
}

.Book-submit {
    position: absolute;
    top: 0;
    right: 0;
}
