.SearchField {
  min-height: 20%;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  font-size: calc(10px + 2vmin);
}

.SearchField-form {
  border: 4px solid #d3d3d3;
  padding: 20px;
  background-color: #ffffff;
}

.SearchField-label {
  text-align: left;
  display: block;
  font-size: 22px;
}
