.SavedResults {
    min-height: 16vh;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    font-size: calc(10px + 2vmin);
    border: 4px solid #d3d3d3;
    padding: 20px;
    background-color: #ffffff;
}

.SavedResults > h2 {
    margin-bottom: 20px;
}
