.Header {
    height: 20vh;
    width: 80%;
    margin: auto;
    color: #ffffff;
    background-color: #59b2ff;
    margin-bottom: 40px;
    border-bottom: 2px solid #ffffff;
}

.Header-size {
    margin: auto;
    max-width: 1300px;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header-text {
    margin: 0;
    margin-bottom: 8px;
    font-size: 3em;
}
